.lg-out {
  text-decoration: none;
}

.hidden-screen-size {
  display: none;
}

.login-icon {
  text-decoration: none;
}

.hide-screen-size {
  width: 10rem;
}

@media only screen and (max-width: 768px) {
  .site-name {
    display: none;
  }
  .hide-screen-size {
    display: none;
  }
  .hidden-screen-size {
    display: inline;
  }
  /* . */
}
